In [1]:
import pandas as pd

In [2]:
tables = pd.read_html("http://www.vpc.org/state-gun-death-rates-and-percent-change-2009-to-2016/",skiprows=0)
print len(tables)

1

In [3]:
df = tables[0]

In [4]:
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))

In [5]:
len(df)

51

In [6]:
df.head()

,State,Firearm Death Rate 2009,Firearm Death Rate 2016,"Firearm Death Rate Percent Change, 2009 to 2016"
1,Alabama,17.63,21.51,22.0%
2,Alaska,14.89,23.86,60.2%
3,Arizona,12.98,15.78,21.6%
4,Arkansas,16.09,18.10,12.5%
5,California,8.37,8.11,-3.1%

In [7]:
# drop "%"s
df[df.columns[-1]] = df[df.columns[-1]].apply(lambda x: float(x.strip("%")))
print df.dtypes

0
State                                               object
Firearm Death Rate 2009                             object
Firearm Death Rate 2016                             object
Firearm Death Rate Percent Change, 2009 to 2016    float64
dtype: object

In [8]:
for col in df.columns[1:]:
    df[col] = pd.to_numeric(df[col])

In [9]:
df.sort_values(by="Firearm Death Rate 2009").head(10)

,State,Firearm Death Rate 2009,Firearm Death Rate 2016,"Firearm Death Rate Percent Change, 2009 to 2016"
21,Massachusetts,3.14,3.55,13.1
11,Hawaii,3.63,4.62,27.3
30,New Jersey,4.72,5.42,14.8
32,New York,4.90,4.56,-6.9
7,Connecticut,4.92,4.81,-2.2
39,Rhode Island,5.32,4.64,-12.8
23,Minnesota,6.38,7.83,22.7
15,Iowa,6.42,9.19,43.1
29,New Hampshire,6.72,9.89,47.2
27,Nebraska,7.35,8.97,22.0

In [10]:
df.sort_values(by="Firearm Death Rate 2016").head(10)

,State,Firearm Death Rate 2009,Firearm Death Rate 2016,"Firearm Death Rate Percent Change, 2009 to 2016"
21,Massachusetts,3.14,3.55,13.1
32,New York,4.90,4.56,-6.9
11,Hawaii,3.63,4.62,27.3
39,Rhode Island,5.32,4.64,-12.8
7,Connecticut,4.92,4.81,-2.2
30,New Jersey,4.72,5.42,14.8
23,Minnesota,6.38,7.83,22.7
5,California,8.37,8.11,-3.1
27,Nebraska,7.35,8.97,22.0
15,Iowa,6.42,9.19,43.1